 div {

     width: 50%;
     background-color: rgb(234, 184, 119);
     margin-top: 20px;
     padding: 5%;
     margin: auto;
     text-align: center;
     display: flex
 }

 #result{
    background-color: rgb(72, 72, 239);
    color:white;
     width: 20%;
     padding:10px;
     margin-top:15px;
     display:none

 }

 h1 {
     text-align: center;
 }

 label {

     font-weight: bolder;
 }